<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<ul>
	<% @countries.each do |x| %>
		<li><%= x  %></li>
	<% end %>
</ul>

<% @images.each do |x|%>
	<%= image_tag x, alt: "TTS Logo border", id: "TTS" , class: "class"%>
<% end %>
